@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.paid__status {
  background: #1f2c3f;
  color: #32cf9b;
}

.pending__status {
  background: rgba(255, 143, 0, 0.06);
  color: #ff8f00;
}
